@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer components {
	.h1 {
		@apply text-5xl font-bold md:text-7xl;
	}

	.btn {
		@apply px-6 py-2 transition-colors focus:outline-none focus:ring-2 focus:ring-cyan-300;

		&.primary {
			@apply rounded-lg bg-cyan-700 px-4 py-2 text-sm font-medium text-white;

			@media (any-hover: hover) {
				&:hover {
					@apply bg-cyan-800;
				}
			}
		}

		&.secondary {
			@apply rounded-full border-2 border-slate-600 bg-slate-700 text-slate-400;

			@media (any-hover: hover) {
				&:hover {
					@apply bg-slate-600 text-slate-300;
				}
			}
		}

		&.outlined {
			@apply w-fit rounded-full border-2 border-cyan-500 text-2xl text-cyan-500 transition-colors;

			@media (any-hover: hover) {
				&:hover {
					@apply bg-cyan-100 text-cyan-600;
				}
			}
		}
	}
}

.react-flow__panel {
	display: none;
}
